---
import { Image } from "astro:assets";

import redBerryImg from "../img/products/redBerry.webp";
import powerBlackImg from "../img/products/powerBlack.webp";
import crystalGlossImg from "../img/products/crystalGloss.webp";
import pinkRoseImg from "../img/products/pinkRose.webp";
import jaianImg from "../img/products/jaian.webp";

const imgWidth = 220;
const imgHeight = 220;
---

<section class="home-section">
    <article class="catalog-container">
        <div class="catalog-item info-item">
            <h3 class="catalog-title">Productos Undercover</h3>
            <h5 class="catalog-info">Stock <br aria-hidden="true" />Noviembre - Diciembre <br aria-hidden="true" /> 2023</h5>
            <span class="catalog-secondary-info"> *Precios en descuento hasta 30/11/23</span>
        </div>
        <div class="catalog-item product-item p1">
            <div class="img-container">
                <div class="new">
                    <span>$76</span>
                </div>
                <Image width={imgWidth} height={imgHeight} src={redBerryImg} alt="Botas Red Berry" />
            </div>
            <h5 class="product-title">Red Berry</h5>
            <span class="product-size"> Tallas Disponibles: 36, 37, 38, 39, 40, 41, 42</span>
        </div>
        <div class="catalog-item product-item p2">
            <div class="img-container">
                <div class="new">
                    <span>$81</span>
                </div>
                <Image width={imgWidth} height={imgHeight} src={crystalGlossImg} alt="Botas Crystal Gloss" />
            </div>
            <h5 class="product-title">Crystal Gloss</h5>
            <span class="product-size"> Tallas Disponibles: 38, 39, 40</span>
        </div>
        <div class="catalog-item product-item p3">
            <div class="img-container">
                <div class="new">
                    <span>$71</span>
                </div>
                <Image width={imgWidth} height={imgHeight} src={powerBlackImg} alt="Botas Power Black" />
            </div>
            <h5 class="product-title">Power Black</h5>
            <span class="product-size"> Tallas Disponibles: 38, 39, 40, 41, 42</span>
        </div>
        <div class="catalog-item product-item p4">
            <div class="img-container">
                <div class="new">
                    <span>$71</span>
                </div>
                <Image width={imgWidth} height={imgHeight} src={pinkRoseImg} alt="Botas Pink Rosé" />
            </div>
            <h5 class="product-title">Pink Rosé</h5>
            <span class="product-size"> Tallas Disponibles: 39</span>
        </div>
        <div class="catalog-item product-item p5">
            <div class="img-container">
                <div class="new">
                    <span>$72</span>
                </div>
                <Image width={imgWidth} height={imgHeight} src={jaianImg} alt="Botas Ja-Ian" />
            </div>
            <h5 class="product-title">Ja-Ian</h5>
            <span class="product-size"> Tallas Disponibles: 36, 37, 38, 39, 40</span>
        </div>
    </article>
</section>
<style lang="scss">
    $catalog-border-radius: 10px;
    $catalog-text-color: #393e3a;

    .home-section {
        margin-bottom: 3rem;
    }

    .catalog-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "info p1"
            "p2 p3"
            "p4 p5";
    }

    .catalog-item {
        position: relative;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        outline: 1px solid var(--text-color);
        height: 350px;
    }

    .info-item {
        grid-area: info;
        background-color: var(--text-color-inverse);
    }

    .product-item {
        background-color: var(--home-catolog-color);
    }

    .catalog-item:first-child {
        border-top-left-radius: $catalog-border-radius;
    }

    .catalog-item:last-child {
        border-bottom-right-radius: $catalog-border-radius;
    }

    .catalog-item:nth-last-child(2) {
        border-bottom-left-radius: $catalog-border-radius;
    }

    .catalog-item:nth-child(2) {
        border-top-right-radius: $catalog-border-radius;
    }

    .p1 {
        grid-area: p1;
    }
    .p2 {
        grid-area: p2;
    }
    .p3 {
        grid-area: p3;
    }
    .p4 {
        grid-area: p4;
    }
    .p5 {
        grid-area: p5;
    }

    img {
        align-self: center;
    }

    .img-container {
        background-color: var(--text-color-inverse);
        width: max-content;
        margin: 0 auto;
        padding: 5px;
        position: relative;
    }

    .product-title {
        margin: 1.5rem 0px 0px 0px;
        color: $catalog-text-color;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
    }

    .product-size {
        margin-top: 0.3rem;
        color: $catalog-text-color;
        font-size: 14px;
        font-weight: 700;
    }

    .catalog-title {
        color: #513f69;
        font-weight: 400;
        font-size: 42px;
        margin: 0;
        text-transform: uppercase;
    }

    .catalog-info {
        margin: 1.5rem 0px 0px 0px;
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
    }

    .catalog-secondary-info {
        margin: 1.5rem 0px 0px 0px;
        font-weight: 700;
        font-style: italic;
        font-size: 14px;
    }

    .new {
        color: $catalog-text-color;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: -10px;
        right: -10px;
        background-image: linear-gradient(45deg, rgba(212, 148, 255), rgba(85, 236, 219), #3776ff);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        font-weight: 600;
        clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
    }

    @media only screen and (max-width: 720px) {
        .catalog-container {
            max-width: 500px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas:
                "info"
                "p1"
                "p2"
                "p3"
                "p4"
                "p5";
        }

        .catalog-item:first-child {
            border-top-left-radius: $catalog-border-radius;
            border-top-right-radius: $catalog-border-radius;
        }

        .catalog-item:last-child {
            border-bottom-left-radius: $catalog-border-radius;
            border-bottom-right-radius: $catalog-border-radius;
        }

        .catalog-item:nth-last-child(2) {
            border-bottom-left-radius: 0px;
        }

        .catalog-item:nth-child(2) {
            border-top-right-radius: 0px;
        }
    }
</style>
