---
interface Props {
    id: string;
    title: string;
    price: string;
    description: string;
    category: string;
    image: string;
    rating: string;
}

const { id, title, price, image } = Astro.props;
---

<div class="box" id={id}>
    <a href={`/product/${id}`}>
        <picture class="img-box">
            <img title={title} src={image} alt={`This is an image of the product called ${title}`} />
        </picture>
        <div class="detail-box">
            <h6 class="product-title">{title}</h6>
            <h6 class="product-price">
                Price
                <span> ${price}</span>
            </h6>
        </div>
        <div class="new">
            <span>New</span>
        </div>
    </a>
</div>
<style lang="scss">
    div.hide {
        display: none;
    }

    .box:hover .detail-box::after {
        opacity: 0.4;
    }

    .box {
        margin: 0 auto;
        width: 100%;
        max-height: 400px;
        background-color: var(--text-color-inverse);
        padding: 10px;
        box-shadow: var(--navbar-shallow-color) 0px 5px 15px;
        a {
            color: var(--text-color);
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .img-box {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px 50px;
            height: auto;

            img {
                max-width: 100%;
                max-height: 200px;
            }
        }

        .detail-box {
            display: flex;
            justify-content: space-between;
            padding: 0.25rem;
            height: auto;
            position: relative;

            h6 {
                span {
                    color: var(--primary-color);
                }
                margin: 0;
            }

            .product-price {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-left: 1rem;
            }

            .product-price span {
                padding-left: 0.25rem;
            }

            .product-title {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
        }

        .detail-box::after {
            content: "";
            background-image: linear-gradient(69deg, rgba(85, 236, 219, 1), rgba(212, 148, 255, 1));

            position: absolute;
            top: calc(100%);
            width: 98%;
            height: 4px;

            opacity: 0;
            transition: opacity 0.3s;
        }

        .new {
            width: 2rem;
            height: 2rem;
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            background-color: var(--menu-hover-color);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            border: 1px solid var(--navbar-shallow-color);
            font-size: 0.6em;
            font-weight: 600;
        }
    }

    @media only screen and (max-width: 950px) {
        .box {
            max-height: 500px;

            .img-box {
                height: auto;

                img {
                    max-width: 100%;
                    max-height: 250px;
                }
            }

            .new {
                top: 0;
                left: 0;
            }
        }
    }
</style>
