---
import "../../components/css/productGrid.scss";
import "../../components/css/productCard.scss";

export const prerender = false;

import { Products } from "../../components/Products.jsx";
import Layout from "../../layouts/Layout.astro";
import { getLatestProducts } from "../../services/fakeStore.js";

const products = getLatestProducts();

//https://github.com/coding-in-public/astro-search-fusejs/blob/lesson-8/src/pages/search.astro
---

<Layout title="Products - Awa">
    <section class="products-section">
        <span class="heading_container heading_center">
            <h2>Products</h2>
        </span>

        <Products products={products} />
        <!-- {
            // lastPage > 1 && (
            //     <div class="pagination-container">
            //         <nav class="pagination-body" aria-label="Pagination">
            //             <a
            //                 href={url["prev"]}
            //                 aria-disabled={prevDisabled}
            //                 class={`pagination-button`}
            //                 id="prev-button"
            //                 aria-label="Previous page"
            //                 title="Previous page"
            //                 tabindex={prevDisabled ? "-1" : "0"}
            //             >
            //                 {" "}
            //                 &lt;
            //             </a>
            //             <div id="pagination-numbers">
            //                 {paginationList.map((num) => (
            //                     <a
            //                         href={`/${firstPath}${num == 1 ? "" : "/" + num}`}
            //                         class={`pagination-number ${currentPage == num ? "disabled active" : ""}`}
            //                     >
            //                         {num}
            //                     </a>
            //                 ))}
            //             </div>
            //             <a
            //                 href={url["next"]}
            //                 class={`pagination-button`}
            //                 aria-disable={nextDisabled}
            //                 id="next-button"
            //                 aria-label="Next page"
            //                 title="Next page"
            //                 tabindex={nextDisabled ? "-1" : "0"}
            //             >
            //                 {" "}
            //                 &gt;
            //             </a>
            //         </nav>
            //     </div>
            // )
        } -->
    </section>
</Layout>
